---
:enabled: true

# Proxy hostname to appear in reports JSON
:reported_proxy_hostname: localhost

# Print intput and output to the debug level
:debug_payload: false

# Spool directory with processed reports
:spool_dir: /var/foreman-proxy/host_reports

# Keep sent reports in spool_dir/done directory
# - when enabled, move files from the place on
# a regular basis (e.g. via cronjob).
:keep_reports: false

# Override host name coming from the report
# Set to nil or false to disable.
# Set to prefered host name to override.
:override_hostname: nil
